/* =========================================
   GOOGLE FONT
========================================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(180deg,#eaf6ff,#dff2ff,#c9e8ff,#b7dcff);
    color:#183153;
    overflow-x:hidden;
}

/* =========================================
   LOADER
========================================= */

#loader{
    position:fixed;
    inset:0;
    background:linear-gradient(135deg,#87cefa,#d9f1ff);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    z-index:9999;
}

#loader h1{
    font-size:40px;
    color:white;
    margin-bottom:30px;
}

.loading-bar{
    width:280px;
    height:10px;
    background:white;
    border-radius:20px;
    overflow:hidden;
}

.loading-bar span{
    display:block;
    width:0%;
    height:100%;
    background:#3b82f6;
    animation:loading 3s linear forwards;
}

@keyframes loading{

    from{
        width:0%;
    }

    to{
        width:100%;
    }

}

/* =========================================
   HERO
========================================= */

.hero{

    position:relative;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;

}

.hero-bg{

    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;

}

.overlay{

    position:absolute;
    inset:0;
    background:rgba(0,0,0,.45);

}

.hero-content{

    position:relative;
    z-index:10;
    text-align:center;
    color:white;
    padding:20px;

}

.hero h1{

    font-size:80px;
    font-weight:700;

}

.hero h2{

    font-size:45px;

}

.hero h3{

    margin:15px 0;

}

.hero p{

    margin-top:15px;
    font-size:20px;

}

.small{

    font-size:18px;
    opacity:.9;

}

.blue{

    color:#8bd2ff;

}

#openBtn{

    margin-top:35px;
    padding:15px 40px;
    border:none;
    border-radius:40px;
    background:white;
    color:#1976d2;
    font-size:18px;
    cursor:pointer;
    transition:.4s;
    font-weight:600;

}

#openBtn:hover{

    transform:scale(1.08);
    box-shadow:0 10px 30px rgba(0,0,0,.3);

}

/* =========================================
   COMMON SECTION
========================================= */

section{

    padding:100px 10%;

}

section h2{

    text-align:center;
    margin-bottom:40px;
    font-size:40px;
    color:#1565c0;

}
